.classicformpage {
  background-color:white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}
 .placesContainer{
  display: flex;
  margin: auto;
  width: 80%;
  height: 70%;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
} 
 .footer{
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%,
} 

.homeCard{
  width: 30%;
  height: 30%;
}
  
.cardPhoto{
  width: 60%;
  height: 60%;
}

.placeItem{
  flex-basis: 20%;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 10px;
}
.footer-txt{
  font-size: large;
  font-weight: bold;
  font-style: italic;
}
 /* .classicformpage .gradient {
  background: -webkit-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.7),
    rgba(72, 15, 144, 0.4) 100%
  );
  https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
  https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&h=650&w=940
  background: (
    linear,
    45deg,
    (rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%)
  );
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.7),
    rgba(72, 15, 144, 0.4) 100%
  );
}
 */
 .home{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
 }


.styleProfile{
  font-weight: bold;
  padding-bottom: 50px;
  color: black
}

.iconsStyle{
  padding-right: 10px;

}
.headerStyleAdmin{
  padding-top: 40px;
  border-bottom: 1px solid black;
 

}

.fixPadding{
  padding-left: 20px;
}


 .nav-style{
   color: #393f82
 }



.iconsCreateStyle{
  font-size: 30px;
}

.createHover:hover{
  font-weight: bold;
  text-shadow: 8px 8px 8px #bbbcbd;
  cursor: pointer;
}

.cardPadding{
  margin-bottom: 20px;
}

.styleBorder{
  border-right: 3px solid
}
.styleText{
  padding-right: 19px
}

.stylePaddingUser{
  padding-top: 20px;
}