body, html {
  height: 100%;
  color: rgb(10, 0, 0);
  }
  .bg {
  background-image: url('https://i.pinimg.com/736x/64/9a/00/649a009d9af2aa1b44b3b5f40adbc4a9.jpg');
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }


  .backg{
    background-image: url("http://mdbootstrap.com/img/Photos/Others/images/91.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;

  }

  .footer{
    border-top: 1px solid #d2eaf7;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 100px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #a9dceb
  }


  .nav-style{
    color: #3753bf
  }
